<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Add Book</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    
  </head>
 
  <body>
      <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href={{ url_for('index') }}>Home</a>
                    </li>
                    <li role="presentation"><a href={{ url_for('add_book') }}>Add Book</a>
                    </li>
                    <li role="presentation"><a href={{ url_for('showSignIn') }}>Sign In</a>
                    </li>
                    <li role="presentation"><a href={{ url_for('showSignUp') }}>Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h1 class="text-muted">BookKart</h1>
        </div>
      <div class="jumbotron">
        <h3>Success!</h3>
        <h4>{{ data_array[0] }}, </h4>{{ data_array[1] }}<br>
        Genre: {{ data_array[2] }}<br>
        Copies: {{ data_array[3] }}<br>
        <h3>Successfully added to BookKart</h3>
      </div>
  </body>
</html>