<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Add Book</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/add_book.js"></script>

  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href={{ url_for('index') }}>Home</a>
                    </li>
                    <li role="presentation"><a href="#">Add Book</a>
                    </li>
                    <li role="presentation"><a href={{ url_for('showSignIn') }}>Sign In</a>
                    </li>
                    <li role="presentation"><a href={{ url_for('showSignUp') }}>Sign Up</a>
                    </li>
          </ul>
        </nav>
        <h1 class="text-muted">BookKart</h1>
      </div>
 
      <div class="jumbotron">
        <h2>Add Book</h2>
        <form method="POST" class="form-signin" action={{ url_for('add_success') }}>
          <fieldset>
            <legend>Enter Book Details</legend>
                    
            <input type="text" name="inputBookName" id="inputBookName" class="form-control" placeholder="Book Name" required autofocus><br>
        
            <input type="text" name="inputGenre" id="inputGenre" class="form-control" placeholder="Genre" required autofocus><br>
        
            <input type="text" name="inputAuthor" id="inputAuthor" class="form-control" placeholder="Author" required><br>

            <input type="number" name="inputCopies" id="inputCopies" class="form-control" placeholder="No. of copies" required><br>
         
        </fieldset>

        <button type="submit" class="btn btn-lg btn-success" id="btnadd">Add</button>
      
      </form>


  </body>
</html>